<% include partials/header %>
<div class="master">
  <section class="master__qArea">
    <div class="container">
      <h1 class="container__title">Questions</h1>
      <div class="container__button">
        <button id="js-revive" type="button">復活のボタン</button>
      </div>
      <div class="container__qList">
        <ol class="qList">
          <% for (var i = 0; i < 7; i++) { %>
            <li id="q<%= i + 1 %>" class="qList__item js-question">
              <p class="qList__question"><%= questions[i].qx %></p>
              <p class="qList__question"><%= questions[i].q %></p>
              <div class="qList__buttons">
                <ul class="qButtonList">
                  <li class="qButtonList__item">
                    <button id="q<%= i + 1 %>PreQuestion" class="qButtonList__button" type="button">問題文表示</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="q<%= i + 1 %>Selection" class="qButtonList__button" type="button">選択肢表示</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="q<%= i + 1 %>StopAnswer" class="qButtonList__button" type="button">回答STOP</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="q<%= i + 1 %>PlayVideo" class="qButtonList__button" type="button" data-answer=<%= questions[i].a %>>正解VTR再生</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="q<%= i + 1 %>Ranking" class="qButtonList__button" type="button">ランキング発表</button>
                  </li>
                </ul>
              </div>
            </li>
          <% } %>
          <li id="qX" class="qList__item qList__item--x js-question">
            <p class="qList__question">トイレットペーパー速巻き対決！！</p>
            <p class="qList__question">1位になるのは次の4組のうち、どこでしょう？</p>
              <div class="qList__buttons">
                <ul class="qButtonList">
                  <li class="qButtonList__item">
                    <button id="qXPreQuestion" class="qButtonList__button" type="button">問題文表示</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="qXSelection" class="qButtonList__button" type="button">選択肢表示</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="qXStopAnswer" class="qButtonList__button" type="button">回答STOP</button>
                  </li>
                  <li class="qButtonList__item">
                    <button class="qButtonList__button js-setAnswer">A</button>
                  </li>
                  <li class="qButtonList__item">
                    <button class="qButtonList__button js-setAnswer">B</button>
                  </li>
                  <li class="qButtonList__item">
                    <button class="qButtonList__button js-setAnswer">C</button>
                  </li>
                  <li class="qButtonList__item">
                    <button class="qButtonList__button js-setAnswer">D</button>
                  </li>
                  <li class="qButtonList__item">
                    <button id="qXRanking" class="qButtonList__button" type="button">ランキング発表</button>
                  </li>
                </ul>
              </div>
          </li>
        </ol>
      </div><!-- /.container__qList -->
    </div><!-- /.container -->
  </section><!-- /.master__qArea -->
  <section class="master__usersArea">
    <div class="container">
      <h1 class="container__title">参加者一覧</h1>
      <div class="container__usersList">
        <ul id="users" class="usersList"></ul>
      </div>
    </div>
  </section><!-- /.master__usersArea -->
</div><!-- /.master -->
<% include partials/scripts %>
<script>
  $(function() {
    var socket = io.connect();

    for (var i = 0; i < 7; i++) {
      // 問題文を表示させる
      $("#q" + (i + 1) + "PreQuestion").on("click", function() {
        var thisId = $(this).attr("id");

        socket.emit(thisId, thisId);
      });

      // 選択肢を表示させる
      $("#q" + (i + 1) + "Selection").on("click", function() {
        var thisId = $(this).attr("id"),
            startTime = new Date().getTime();

        socket.json.emit(thisId, {
          "socketKey": thisId,
          "time": startTime
        });
      });

      // 強制的に回答をSTOP
      $("#q" + (i + 1) + "StopAnswer").on("click", function() {
        var thisId = $(this).attr("id");

        socket.emit(thisId, thisId);
      });

      // 正解VTRを再生
      $("#q" + (i + 1) + "PlayVideo").on("click", function() {
        var thisId = $(this).attr("id");

        socket.json.emit(thisId, {
          "socketKey": thisId,
          "answer": $(this).data("answer")
        });
      });

      // ランキングデータを表示させる
      $("#q" + (i + 1) + "Ranking").on("click", function() {
        var thisId = $(this).attr("id");

        socket.emit(thisId, thisId);
      });
    }

    // qX
    // 問題文
    $("#qXPreQuestion").on("click", function() {
      var thisId = $(this).attr("id");

      socket.emit(thisId, thisId);
    });
    // 選択肢を表示させる
    $("#qXSelection").on("click", function() {
      var thisId = $(this).attr("id"),
          startTime = new Date().getTime();

      socket.json.emit(thisId, {
        "socketKey": thisId,
        "time": startTime
      });
    });
    // 強制的に回答をSTOP
    $("#qXStopAnswer").on("click", function() {
      var thisId = $(this).attr("id");

      socket.emit(thisId, thisId);
    });
    // 正解を送る
    $(".js-setAnswer").each(function(index) {
      var map = ["A", "B", "C", "D"];
      $(this).on("click", function() {
        socket.emit("qXAnswer", map[index]);
      });
    });
    $("#qXRanking").on("click", function() {
      var thisId = $(this).attr("id");

      socket.emit(thisId, thisId);
    });

    // 参加者をリストする
    socket.on("emit_from_server", function(data) {
      $("#users").append('<li>' + data.uid + " : " + data.user +'</li>');
    });

    // 復活のボタン
    $("#js-revive").on("click", function() {
      socket.emit("revive", "");
    });
  });
</script>
<% include partials/footer %>
