<% include partials/header %>
<p>第<%= num %>問</p>
<p id="q<%= num %>"></p>
<p id="answer"></p>
<ul>
  <li>
    <% if (num - 1 > 0) { %>
      <a href="/q/<%= num - 1 %>">第<%= num - 1 %>問へ</a>
    <% } %>
  </li>
  <li>
    <% if (num + 1 < 11) { %>
      <a href="/q/<%= num + 1 %>">第<%= num + 1 %>問へ</a>
    <% } %>
  </li>
</ul>
<% include partials/scripts %>
<script>
  $(function() {
    var socket = io.connect();

    socket.on("qOut_from_server", function(data) {
      $("#q1").text(data.q);
    });

    socket.on("ans_from_server", function(data) {
      $("#answer").text("正解は..." + data.ans + "！");
    });
  });
</script>
<% include partials/footer %>
